/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* 鼠标移动到选项上修改背景颜色 */
/* li a:hover {
    background-color: #555;
    color: white;
} */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    cursor: pointer;
}

.nav-links a{
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 24px;
    height: 3px;
    margin: 5px;
    background-color: black;
    transition: all 0.3s ease;
}

#googleMap {
    width:850px;
    height:600px;
    float: right;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
    }

    #googleMap {
        width: 100%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .bar1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .bar2{
    opacity: 0;
}

.toggle .bar3{
    transform: rotate(45deg) translate(-5px,-6px);
}
