{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dublinbus</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Bqco2DvRVp55QdFyANIiDRSKS8IE8p8&libraries=places&sensor=false"></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script></script>
    
    <!--import css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mian.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <!--add favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    
    <!--import js -->
    <!-- <script type="text/javascript" src="{% static 'js/initialize.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'js/bootstrap.min.js.js' %}"></script> -->
    
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/station_map.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>
<body>
    <script type="text/javascript">window.onload=function () {
        initMap();
    };</script>

    <div class="wrapper">

        <nav id="sidebar">
            <div class = "side-top">

            <ul class="list-unstyled components">
                <li class="active"><a id = "search" onclick="showsearchcontent();">Search</a></li>
                <li><a id = "stop" onclick="showstopsearchcontent()">Stop</a></li>
                <!-- <li><a id= "twitter">Twitter</a></li> -->
                <li><a id = "leapcard">Leapcard</a></li>
            </ul>

            <div class="forms">
                <div id = "searchid">
                    <div>
                        <form action="" method="post">
                            
                            <input id="origin" type="text" name="start_location" placeholder="From..." onclick="select_ori_dest('origin')">
                            <input id="destination" type="text" name="end_location" placeholder="To..." onclick="select_ori_dest('destination')">

                            <div class="col-md-13">
                                <div class='input-group date' >
                                    <input type='text' id='datetimepicker1' class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <button id="go" type = "button" onclick = "calcRoute()">Go!</button>
                        </form>
                    </div>
                    <div id="routes"></div>
                    <div id="fares"></div>
                    <div><h4 id="h51"></h4></div>
                </div>

                
                <div id = "leapcardid">
                    <div>
                        <form method="post" id = "lpadd">
                            {% csrf_token %}
                            Username: <input type='text' id = "username" name = "username">
                            Password: <input type='password' id = "password" name = "password">
                            <button id = "lpbtn" type="button">submit</button>
                        </form>
                    </div>
                    <div id ="lparea"></div>
                </div>

            
                <div id = "stopid">
                    <div>
                        <form method="post" id = "stopadd">
                            {% csrf_token %}
                            Stop ID: <input type='text' id = "stop_id" name = "stop_id">
                            <button id = "stopbtn" type="button" onclick="stopsearch()">submit</button>
                        </form>
                    </div>
                    <div id ="stoparea"></div>
                </div>
                <div id="nearme"></div>
            
                
            </div>
            </div>
                <div id = "twitterid">
                    <a class="twitter-timeline" data-width="350" data-height="450" data-theme="dark" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(71, 71, 95) !important; color: #fff;">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <div id="weather" style="display: inline; float:right;"></div>
                </div>
            </nav>
            <div id="googleMap" style="width:100%;height:90%;"></div>
            <div id="stopMap" style="width:100%;height:90%;"></div>
            <div class="line"></div>
        </div>

    </div>

    


<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
    


<!-- add autocomplete function for the input -->
<script>
    var origin = 'origin';
    var destination = 'destination';

    $(document).ready(function(){
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(origin)),{
            types:['geocode'],
        });

        google.maps.event.addListener(autocomplete,'place_changed', function(){
            var near_place = autocomplete.getPlace();
        });

        var autocomplete_des;
        autocomplete_des = new google.maps.places.Autocomplete((document.getElementById(destination)),{
            types:['geocode'],
        });

        google.maps.event.addListener(autocomplete_des,'place_changed', function(){
            var near_place_des = autocomplete.getPlace();
        });
    })
</script>




<!-- the onclick function that will hide some feature div -->
        <script type = "text/javascript">
        $(document).ready(function(){
            // alert('hi');
            $('#searchid').siblings().hide();
            $('#twitterid').show();
            $('#searchid').show();
            $('#nearme').show();

        });
            
        </script>
        <script type = "text/javascript">
            $('#leapcard').click(function(){
                $('#leapcardid').siblings().hide();
                $('#twitterid').show();
                $('#leapcardid').show();
            })
        </script>
        <script type = "text/javascript">
            $('#stop').click(function(){
                $('#stopid').siblings().hide();
                $('#twitterid').show();
                $('#stopid').show();
            })
        </script>
        <script type = "text/javascript">
            $('#search').click(function(){
                $('#searchid').siblings().hide();
                $('#twitterid').show();
                $('#searchid').show();
                $('#nearme').show();
            })
        </script>
        <!-- <script type = "text/javascript">
            $('#twitter').click(function(){
                $('#twitterid').siblings().hide();
                $('#twitterid').show();
            })
        </script> -->
    
    
    
<!-- the function that let the page refrensh only in some part     -->
        <!-- let the leapcard feature refresh -->
        <script type="text/javascript">
            $('#lpbtn').click(function(){
                info = {
                    csrfmiddlewaretoken: '{{ csrf_token }}', 
                    username :  $('#username').val(),
                    password : $('#password').val(),
                    };
                    console.log(info);
    
                    $.ajax({
                        type:"POST",
                        url: "/leapcard/",
                        cache: false,
                        dataType: "html",
                        data:info,
                        success: function(result, statues, xml){
                            $("#lparea").html(result);
                        },
                        error: function(){
                            alert("false");
                        }
                    });
            });
        </script>

        <script type="text/javascript">
            var todayDate = new Date().getDate();
            $('#datetimepicker1').datetimepicker({
        
            });
        </script>

        <script>
            var stopdata = '{{stopdata|safe}}';
            stopdata = JSON.parse(stopdata);
        </script>
      
    
</body>
</html>
