{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dublinbus</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Bqco2DvRVp55QdFyANIiDRSKS8IE8p8&libraries=places&sensor=false"></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script></script>
    <!--import css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mian.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

    <!--import js -->
    <script type="text/javascript" src="{% static 'js/initialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/station_map.js' %}"></script>

</head>
<body>

    {#the navbar#}
    <header>
        <nav>
            <div id="weather"></div>
            <ul class="nav-links">
                <li><a id = "search">Search</a></li>
                <li><a id = "stop">Stop</a></li>
                <li><a id = "twitter">Twitter</a></li>
                <li><a id = "leapcard">Leapcard</a></li>
            </ul>
            <div class="burger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

        </nav>
    </header>

    {#navbar script#}
    <script>
        const navSlide = () => {
            const burger = document.querySelector('.burger');
            const nav = document.querySelector('.nav-links');
            const navLinks = document.querySelectorAll('.nav-links li');


            burger.addEventListener('click', () => {

                //Toggle nav
                nav.classList.toggle('nav-active');

                //Animation for links
                navLinks.forEach((link, index) => {
                    if(link.style.animation) {
                        link.style.animation = '';
                    } else {
                        link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + .5}s`;
                    }

                });

                //Animation for burger
                burger.classList.toggle('toggle');
            });
        }

        navSlide();
    </script>


    {#the map div#}
    <div id="googleMap"></div>
    <script type="text/javascript">window.onload=function () {
        initMap();
    };
    </script>

<div>
    <div id = "searchid">
        <div>
            <form action="" method="post">
                <!-- <input type="text" name="start_location" placeholder="From...">
                <input type="text" name="end_location" placeholder="To..."> -->
                <!-- <button type="button">go</button> -->

                <input id="origin" type="text" name="start_location" placeholder="From...">
                <input id="destination" type="text" name="end_location" placeholder="To...">
                <button id="go" type = "button" onclick = "search();calcRoute()">go</button>
            </form>
        </div>


        {#datetimepicker#}
        <div class="col-md-13">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            <div class='input-group date' id='datetimepicker3'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div><h4 id="h51"></h4></div>
    </div>

    <div id = "leapcardid">
        <div>
            <form method="post" id = "lpadd">
                {% csrf_token %}
                username:<input type='text' id = "username" name = "username">
                password:<input type='password' id = "password" name = "password">
                <button id = "lpbtn" type="button">submit</button>
            </form>
        </div>
        <div id ="lparea"></div>
    </div>

    <div id = "stopid">
        <div>
            <form method="post" id = "stopadd">
                {% csrf_token %}
                stop_id:<input type='text' id = "stop_id" name = "stop_id">
                <button id = "stopbtn" type="button">submit</button>
            </form>
        </div>
        <div id ="stoparea"></div>

    </div>

    <div id = "twitterid">
        <a class="twitter-timeline" data-width="500" data-height="600" data-theme="dark" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<!-- the onclick function that will hide some feature div -->
        <script type = "text/javascript">
        $(document).ready(function(){
            // alert('hi');
            $('#searchid').siblings().hide();
            $('#searchid').show();

        });

        </script>
        <script type = "text/javascript">
            $('#leapcard').click(function(){
                $('#leapcardid').siblings().hide();
                $('#leapcardid').show();
            })
        </script>
        <script type = "text/javascript">
            $('#stop').click(function(){
                $('#stopid').siblings().hide();
                $('#stopid').show();
            })
        </script>
        <script type = "text/javascript">
            $('#search').click(function(){
                $('#searchid').siblings().hide();
                $('#searchid').show();
            })
        </script>
        <script type = "text/javascript">
            $('#twitter').click(function(){
                $('#twitterid').siblings().hide();
                $('#twitterid').show();
            })
        </script>



<!-- the function that let the page refrensh only in some part     -->
        <!-- let the leapcard feature refresh -->
        <script type="text/javascript">
            $('#lpbtn').click(function(){
                info = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    username :  $('#username').val(),
                    password : $('#password').val(),
                    };
                    console.log(info);

                    $.ajax({
                        type:"POST",
                        url: "http://127.0.0.1:8000/leapcard/",
                        cache: false,
                        dataType: "html",
                        // headers:{'Content-Type':"application/json"} ,
                        data:info,
                        success: function(result, statues, xml){
                            console.log(result);
                            $("#lparea").html(result);
                        },
                        error: function(){
                            alert("false");
                        }
                    });
            });
        </script>

        <!-- let the stop feature refresh -->
        <script type="text/javascript">
            $('#stopbtn').click(function(){
                info = {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    stop_id :  $('#stop_id').val(),
                    };
                    // console.log(info);

                    $.ajax({
                        type:"POST",
                        url: "http://127.0.0.1:8000/stop/",
                        cache: false,
                        dataType: "html",
                        // headers:{'Content-Type':"application/json"} ,
                        data:info,
                        success: function(result, statues, xml){
                            result = JSON.parse(result);
                            console.log(result['results']);
                            var real_info = "Time Table" +"<br>";
                            for (var i =0; i< result["results"].length; i++){
                            real_info += result["results"][i]["route"]+"        "+result["results"][i]["arrivaldatetime"] +"<br>";
                                }
                                // console.log(real_info);
                            $("#stoparea").html(real_info);
                        },
                        error: function(){
                            alert("false");
                        }
                    });


                var stop_id = $('#stop_id').val();
                stopKeys = Object.keys(stopdata);
                // console.log(stopKeys);
                // console.log($('#stop_id').val());

                var marker;
                var markers = [];
                var stopKey;
                var stop_idd; //在for循环里相匹配的
                for (i=0;i<stopKeys.length;i++){
                    stopKey = stopKeys[i]
                    stop_idd = stopdata[stopKey]["stopno"];
                    // console.log(stop_idd);

                    if (stop_idd == stop_id){
                        var stationsInfo =  "Stop_number:<h5>"+stop_idd+"<h5>";
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(
                                    stopdata[stopKey]['latitude'],
                                    stopdata[stopKey]['longitude']),
                                map: map,
                            });

                            marker.setVisible(false);
                            map.setZoom(15);
                            map.panTo(marker.position);
                            marker.setMap(map);

                            var infowindow  = new google.maps.InfoWindow({
                                    content: ""
                                });
                            var pre = false;

                            document.getElementById("stopbtn").addEventListener("click", function(){
                                pre.close();
                            });

                            google.maps.event.addListener(marker,'click', (function(marker,stationsInfo,infowindow){
                                pre = infowindow;
                                pre.setContent(stationsInfo);
                                pre.open(map, marker);

                                }) (marker,stationsInfo,infowindow));
                            }
                        }
                return false;
            });
        </script>

        <script type="text/javascript">
            var todayDate = new Date().getDate();
            $('#datetimepicker1').datetimepicker({

            });
            $('#datetimepicker3').datetimepicker({

            });
        </script>

        <script>
            var stopdata = '{{stopdata|safe}}';
            stopdata = JSON.parse(stopdata);
        </script>


</body>
</html>


<!-- // <script src="jquery-3.5.1.min.js"></script>

// <script type="text/javascript">
    $(document).ready(function() {
    $.ajax({
        method: 'POST',
        url: '/path/to/your/view/',
        data: {'yourJavaScriptArrayKey': yourJavaScriptArray},
        success: function (data) {
             //this gets called when server returns an OK response
             alert("it worked!");
        },
        error: function (data) {
             alert("it didnt work");
        }
    });
}); -->


