{% extends 'base.html' %}

{% block title%}
    /{{title}}
{% endblock%}

{% block content%} 
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Sign in</button>
</form>

{{ card_num }}<br>
{{ balance }}

{{ wrong }}
{%endblock%}

<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Sign in</button>
    </form>

    {{ card_num }}<br>
    {{ balance }}

    {{ wrong }}


</body>
</html> -->