{% extends 'base.html' %}

{% block title%}
    {{stop}}
{% endblock%}

{% block content%} 

<div>
<form method="post" id = "formadd">
    {% csrf_token %}
    {{ form }}
    <button type="submit">submit</button>
</form>
</div>

<!-- the area div that is used to hold the content after refrensh -->
<div id = "area"></div>  

<div>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>  
    <script>
        $('#formadd').submit(function(){
                info = {
                csrfmiddlewaretoken: '{{ csrf_token }}', 
                username :  $('#formadd').serialize()
                };
               
                $.ajax({
                    type:"POST",
                    url: "/real_info",
                    cache: false,
                    dataType: "html",
                    headers:{'Content-Type':"application/json"} ,
                    data:info,
                    success: function(result, statues, xml){
                        console.log(result); 
                        $("#area").html(result); 
                                     
                    },
                    error: function(){
                        alert("false");
                    }
                });
                return false;
            });

    </script>
</div>

    <script type="text/javascript">
        $(document).ready(function() {
        $.ajax({
            method: 'POST',
            url: '/path/to/your/view/',
            data: {'yourJavaScriptArrayKey': yourJavaScriptArray},
            success: function (data) {
                //this gets called when server returns an OK response
                alert("it worked!");
            },
            error: function (data) {
                alert("it didnt work");
            }
        });
    });
    </script>

    <script>
        var stopdata = '{{stopdata|safe}}';
        stopdata = JSON.parse(stopdata);
    </script>

    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
{%endblock%}