{% extends 'base.html' %}

{% block title%}
    /{{title}}
{% endblock%}

{% block content%} 
<div>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">submit</button>
    </form>
    
    {% for i in results %}
        route:{{ i.route }}
        arrivaltime:{{ i.arrivaldatetime }}
        duetime:{{ i.duetime }}
    <br>
    {% endfor %}
</div>
{#<script src="jquery-3.5.1.min.js"></script>#}

    <script type="text/javascript">
        $(document).ready(function() {
        $.ajax({
            method: 'POST',
            url: '/path/to/your/view/',
            data: {'yourJavaScriptArrayKey': yourJavaScriptArray},
            success: function (data) {
                //this gets called when server returns an OK response
                alert("it worked!");
            },
            error: function (data) {
                alert("it didnt work");
            }
        });
    });
    </script>

    <script>
        var stopdata = '{{stopdata|safe}}';
        stopdata = JSON.parse(stopdata);
    </script>

    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
{%endblock%}